.navBar {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  align-items: center;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}

.navLi {
  display: flex;

}

.navLi li {
  padding-left: 3rem;
  text-decoration: none !important;

}

.tituloProfile {
  padding-top: 2rem;
  font-style: normal;
  text-transform: uppercase;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-content: center;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link:hover {
  color: #000;
  transition: box-shadow 250ms ease-out;
}

.btnProfile {
  display: inline-block;
  padding: .5rem 2rem;
  font-size: 1rem;
  color: #8e44ad;
  border: 0.1rem solid;
  border-radius: 1rem;
  cursor: pointer;
  background: none;
}

.btnProfile:hover {
  background: #8e44ad;
  color: #ffffff;
}


.profiles {
  width: 80%;
  max-width: 75rem;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.profiles .invite {
  flex-basis: 30em;
  flex-shrink: 0;
  margin-top: 3.5rem;

}

.profiles .invite .card {

  align-items: center;
  max-width: 25rem;
  width: 70vw;
  justify-content: space-between;
  border: 1.5px solid lightgray;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 8rem;
  background-color: #ffffff;
  margin-top: 2rem;
}

.profiles .invite h1 {
  font-size: 2rem;
}

.profiles .invite .card h3 {
  font-size: 1rem;
}

.profiles .invite .icon {
  appearance: none;
  border: none;

  background-color: lightseagreen;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 250ms ease-out;
  color: #ffffff;
  padding: .5rem 2rem;
  text-align: center;
  margin-top: 1rem;
}

.profiles .invite .message {
  display: block;
  color: rgb(1, 14, 13);
  width: 100%;
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.profiles .invite .icon:focus {
  outline: none;
  box-shadow: 0 0 0 2px teal;
}

.invitations {
  padding: 1.5rem;
  /* background-color: rgba(32, 178, 170, 0.2); */
  width: 100%;
  max-width: 25rem;
  margin: auto;
  margin-top: 2.5rem;
  border-radius: 5px;
}

.invitations li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 5px;
}

.invitations button {
  display: block;
  height: 2rem;
  appearance: none;
  border: none;
  border-radius: 5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: lightseagreen;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: box-shadow 250ms ease-out;
}

.invitations button:focus {
  outline: none;
  box-shadow: 0 0 0 2px teal;
}

.invitations h2 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.invitations h3 {
  font-size: 1rem;
  font-weight: 400;
}

.contacts {
  margin-top: 2.5rem;

  padding: 1rem;
}

.contact {
  margin-top: 1rem;
}

.friends {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid;

  padding: .5rem 2rem;
  font-size: 1rem;
  width: 90%;

}
