*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Lato;
  height: 100%;
  color: rgb(43, 43, 43);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-image: url('forest.svg');
  background-repeat: no-repeat;
}

li {
  list-style: none;
}
